@page
@model MetaX.Pages.Admin.IndexModel

@{
    Layout = "~/Views/Shared/AdminTheme.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Event List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
