@page
@model MetaX.Pages.User.ProfileModel
@{
}

<div class="container">
    <h1>Hesap Bilgileri</h1>
    <p>Hoş geldiniz, @Model.User.Name @Model.User.Surname!</p>
    <p>E-posta: @Model.User.Email</p>
    <p>Telefon: @Model.User.PhoneNumber</p>
</div>