@page
@model MetaX.Pages.User.ProfileModel
@{
}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
         style="background-image: url('')">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Hesap Bilgilerim</h2>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/User">Home</a></li>
                <li>Hesap Bilgilerim</li>
            </ol>
        </div>
    </nav>
</div>
<!-- End Breadcrumbs -->
<div class="container mt-5 mb-5">
    <h1>Hesap Bilgileri</h1>
    <form method="post">
        <div class="mb-3">
            <label for="UserID" class="form-label">Kullanıcı ID</label>
            <input type="text" id="UserID" class="form-control" asp-for="User.UserID" readonly>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Ad</label>
            <input type="text" id="Name" class="form-control" asp-for="User.Name" required>
        </div>
        <div class="mb-3">
            <label for="Surname" class="form-label">Soyad</label>
            <input type="text" id="Surname" class="form-control" asp-for="User.Surname" required>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">E-posta</label>
            <input type="email" id="Email" class="form-control" asp-for="User.Email" required>
        </div>
        <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Telefon</label>
            <input type="text" id="PhoneNumber" class="form-control" asp-for="User.PhoneNumber" required>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Şifre</label>
            <input type="text" id="Password" class="form-control" asp-for="User.Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
</div>
