@page
@model MetaX.Pages.Reservations.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
         style="background-image: url('')">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Rezervasyonlarim</h2>
                    <p>
                        Odio et unde deleniti. Deserunt numquam
                        exercitationem. Officiis quo odio sint voluptas
                        consequatur ut a odio voluptatem. Sit dolorum
                        debitis veritatis natus dolores. Quasi ratione sint.
                        Sit quaerat ipsum dolorem.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Rezervasyonlarim</li>
            </ol>
        </div>
    </nav>
</div>
<!-- End Breadcrumbs -->

<div class="container position-relative ">
    <br />
    <h2>Aktif Rezervasyonlarim</h2>
</div>
<div class="container border border-1 rounded-4 my-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/blog/blog-1.jpg" class="rounded-start-4 img-fluid " alt="...">
        </div>
        <div class="col-6">
            <h3 class="card-title mt-4">Event Title</h3>
            <i>categoty</i>
            <p class="card-text my-4">laskjdjkasjkjdsjkdsf jksjsdkj dsjkfjsd fjks djkjkds jfjjsdkjf jksdf </p>
            <i>50 $</i>
        </div>
        <div class="col-3 text-dark bg-dark-subtle rounded-end-4 text-center">
            <h5 class="mt-5">Etkinlik Tarihi</h5>
            <div class="">
                <p>01-01-2023</p>
            </div>
            <div class="mt-5 mb-2">
                <button class="btn btn-danger">Iptal et</button>
            </div>
            
        </div>
    </div>
</div>

<div class="container position-relative ">
    <br />
    <h2>Geçmiş Rezervasyonlarim</h2>
</div>

<div class="container border border-1 rounded-4 my-5">
    <div class="row">
        <div class="col-3">
            <img src="/assets/img/blog/blog-1.jpg" class="rounded-start-4 img-fluid " alt="...">
        </div>
        <div class="col-6">
            <h3 class="card-title mt-4">Event Title</h3>
            <i>categoty</i>
            <p class="card-text my-4">laskjdjkasjkjdsjkdsf jksjsdkj dsjkfjsd fjks djkjkds jfjjsdkjf jksdf </p>
            <i>50 $</i>
        </div>
        <div class="col-3 text-dark bg-dark-subtle rounded-end-4 text-center">
            <br />
            <br />
            <h5 class="mt-4 ">Etkinlik Tarihi</h5>
            <div class="">
                <p>01-01-2023</p>
            </div>


        </div>
    </div>
</div>