@page
@model MetaX.Pages.Admin.Category.DeleteModel
@{
    ViewData["Title"] = "";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-left">Kategori Sil</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label>Kategori Adı</label>
                    <input type="text" class="form-control" value="@Model.CategoryName" readonly>
                </div>
                <button type="submit" class="btn btn-danger">Sil</button>
            </form>
        </div>
    </div>
</div>
