@page
@model MetaX.Pages.Admin.Event.DeleteModel

@{
    ViewData["Title"] = "Delete Event";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<div class="container float-start">
    <h1>Delete Event</h1>
    <h4>This page is currently not in use.</h4>
    <a asp-page="./Index" class="btn btn-md btn-secondary mt-3">Back to Events</a>
</div>
